html,body {
  font-family: verdana, sans-serif;
  font-size: 12px;
}
h1 {
  font-family: 'Geostar Fill', sans-serif;
  text-transform: lowercase;
}
.oriel-navigation {
  font-family: verdana, sans-serif;
  font-size: 0.8em;
}
h2 {
  font-family: verdana;
  text-transform: uppercase;
  font-weight: normal;
  font-size: 0.9em;
  letter-spacing: 1px;
  margin-top: 0;
  color: #333;
}
pre {
  background-color: #f9f9f9;
  padding: 1em;
  border: 1px solid #eee;
}
section header {
}
section header h1 {
  font-size: 1.4em;
  margin-top: 0;
  font-family: georgia;
  font-weight: normal;
}
section header p {
  font-size: 11px;
  line-height: 16px;
  font-family: verdana;
}

div.code {
  margin: 0 0 2em 0;
}

#container {
  position: relative;
  width: 600px;
  margin: 0 auto;
}

ul {
  padding: 0;
  margin: 1em 0;
  list-style-type: none;
}

header.main {
}
header.main h1 {
  font-size: 56px;
  margin-bottom: 10px;
}
header.main h2 {
  text-transform: none;
  font-family: verdana;
  font-size: 19px;
  color: #aaa;
}

a {
  color: hsl(0, 70%, 50%);
}

/* general */
.oriel-placeholder img.oriel-active {
  opacity: 1.0;
}
.oriel-placeholder img {
  opacity: 0.0;
  position: absolute;
  -webkit-transition: opacity 0.2s ease-in-out;
  -moz-transition: opacity 0.2s ease-in-out;
  -o-transition: opacity 0.2s ease-in-out;
  transition: opacity 0.2s ease-in-out;
}

/* demo-1 */
#demo-1 .oriel-stage {
  height: 600px; /* Should always set a height. */
}
#demo-1-source { min-height: 600px; }
#demo-1 .oriel-navigation {
  padding: 0.2em;
  background-color: black;
  color: #aaa;
}
#demo-1 .oriel-navigation a {
  color: #ccc;
}
#demo-1 .oriel-location {
  padding: 0 0.3em;
}
